<pre class="cake-error"><a href="javascript:void(0);" onclick="document.getElementById('cakeErr550cbba3b06b5-trace').style.display = (document.getElementById('cakeErr550cbba3b06b5-trace').style.display == 'none' ? '' : 'none');"><b>Notice</b> (8)</a>: Undefined offset: 1 [<b>APP\Controller\TopsController.php</b>, line <b>155</b>]<div id="cakeErr550cbba3b06b5-trace" class="cake-stack-trace" style="display: none;"><a href="javascript:void(0);" onclick="document.getElementById('cakeErr550cbba3b06b5-code').style.display = (document.getElementById('cakeErr550cbba3b06b5-code').style.display == 'none' ? '' : 'none')">Code</a> <a href="javascript:void(0);" onclick="document.getElementById('cakeErr550cbba3b06b5-context').style.display = (document.getElementById('cakeErr550cbba3b06b5-context').style.display == 'none' ? '' : 'none')">Context</a><pre id="cakeErr550cbba3b06b5-code" class="cake-code-dump" style="display: none;"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$saveitem</span><span style="color: #007700">[</span><span style="color: #DD0000">'product_id'</span><span style="color: #007700">]&nbsp;=</span><span style="color: #0000BB">$update</span><span style="color: #007700">[</span><span style="color: #DD0000">'Product'</span><span style="color: #007700">][</span><span style="color: #DD0000">'id'</span><span style="color: #007700">];</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$saveitem</span><span style="color: #007700">[</span><span style="color: #DD0000">'price_id'</span><span style="color: #007700">]=&nbsp;</span><span style="color: #0000BB">$update</span><span style="color: #007700">[</span><span style="color: #DD0000">'selling_prices'</span><span style="color: #007700">][</span><span style="color: #DD0000">'id'</span><span style="color: #007700">];</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$saveitem</span><span style="color: #007700">[</span><span style="color: #DD0000">'amount_of_order'</span><span style="color: #007700">]&nbsp;=</span><span style="color: #0000BB">$numberOfprod</span><span style="color: #007700">[</span><span style="color: #DD0000">'item'</span><span style="color: #007700">][</span><span style="color: #0000BB">$y</span><span style="color: #007700">];</span></span></code></span></pre><pre id="cakeErr550cbba3b06b5-context" class="cake-context" style="display: none;">$numberOfprod = array(
	&#039;item&#039; =&gt; array(
		(int) 0 =&gt; &#039;1&#039;
	)
)
$items = array(
	&#039;prize&#039; =&gt; &#039;200.00&#039;,
	&#039;productid&#039; =&gt; &#039;1&#039;,
	&#039;size&#039; =&gt; &#039;2&#039;
)
$zxc = array(
	(int) 0 =&gt; array(
		&#039;Product&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;1&#039;,
			&#039;product_categories_id&#039; =&gt; &#039;1&#039;,
			&#039;name&#039; =&gt; &#039;zxc&#039;,
			&#039;description&#039; =&gt; &#039;sss&#039;,
			&#039;supplier_id&#039; =&gt; &#039;9&#039;,
			&#039;file_name&#039; =&gt; &#039;1426865054_3-02.png&#039;,
			&#039;release_date&#039; =&gt; &#039;0000-00-00 00:00:00&#039;,
			&#039;reservation_flg&#039; =&gt; null,
			&#039;view_status&#039; =&gt; null,
			&#039;created&#039; =&gt; &#039;2015-03-20 23:24:14&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-21 00:43:48&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		),
		&#039;product_categories&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;1&#039;,
			&#039;gender&#039; =&gt; &#039;1&#039;,
			&#039;type&#039; =&gt; &#039;T-Shirts&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-20 22:19:47&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-20 22:19:47&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; &#039;2015-03-20 22:19:47&#039;
		),
		&#039;suppliers&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;9&#039;,
			&#039;name&#039; =&gt; &#039;Kanga&#039;,
			&#039;address&#039; =&gt; &#039;Imus&#039;,
			&#039;email&#039; =&gt; &#039;z@yahoo.com&#039;,
			&#039;phone_number&#039; =&gt; &#039;0911111&#039;,
			&#039;created&#039; =&gt; &#039;0000-00-00 00:00:00&#039;,
			&#039;modified&#039; =&gt; &#039;0000-00-00 00:00:00&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_int&#039; =&gt; null
		),
		&#039;selling_prices&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;1&#039;,
			&#039;product_id&#039; =&gt; &#039;1&#039;,
			&#039;price&#039; =&gt; &#039;200.00&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-20 23:24:14&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-21 00:43:48&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		),
		&#039;product_images&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;1&#039;,
			&#039;product_id&#039; =&gt; &#039;1&#039;,
			&#039;file_name&#039; =&gt; &#039;1426865054_3-02.png&#039;,
			&#039;sort_order&#039; =&gt; &#039;0&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-20 23:24:14&#039;,
			&#039;modified&#039; =&gt; &#039;0000-00-00 00:00:00&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		),
		&#039;stocks&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;1&#039;,
			&#039;product_id&#039; =&gt; &#039;1&#039;,
			&#039;stocks&#039; =&gt; &#039;63&#039;,
			&#039;Small&#039; =&gt; &#039;20&#039;,
			&#039;Large&#039; =&gt; &#039;20&#039;,
			&#039;X-Large&#039; =&gt; &#039;23&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-20 23:24:14&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-21 00:43:48&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		)
	),
	(int) 1 =&gt; array(
		&#039;Product&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;2&#039;,
			&#039;product_categories_id&#039; =&gt; &#039;1&#039;,
			&#039;name&#039; =&gt; &#039;vv&#039;,
			&#039;description&#039; =&gt; &#039;vv&#039;,
			&#039;supplier_id&#039; =&gt; &#039;1&#039;,
			&#039;file_name&#039; =&gt; &#039;&#039;,
			&#039;release_date&#039; =&gt; null,
			&#039;reservation_flg&#039; =&gt; null,
			&#039;view_status&#039; =&gt; null,
			&#039;created&#039; =&gt; &#039;2015-03-21 07:34:26&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-21 07:34:26&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		),
		&#039;product_categories&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;1&#039;,
			&#039;gender&#039; =&gt; &#039;1&#039;,
			&#039;type&#039; =&gt; &#039;T-Shirts&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-20 22:19:47&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-20 22:19:47&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; &#039;2015-03-20 22:19:47&#039;
		),
		&#039;suppliers&#039; =&gt; array(
			&#039;id&#039; =&gt; null,
			&#039;name&#039; =&gt; null,
			&#039;address&#039; =&gt; null,
			&#039;email&#039; =&gt; null,
			&#039;phone_number&#039; =&gt; null,
			&#039;created&#039; =&gt; null,
			&#039;modified&#039; =&gt; null,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_int&#039; =&gt; null
		),
		&#039;selling_prices&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;2&#039;,
			&#039;product_id&#039; =&gt; &#039;2&#039;,
			&#039;price&#039; =&gt; &#039;300.00&#039;,
			&#039;created&#039; =&gt; null,
			&#039;modified&#039; =&gt; null,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		),
		&#039;product_images&#039; =&gt; array(
			&#039;id&#039; =&gt; null,
			&#039;product_id&#039; =&gt; null,
			&#039;file_name&#039; =&gt; null,
			&#039;sort_order&#039; =&gt; null,
			&#039;created&#039; =&gt; null,
			&#039;modified&#039; =&gt; null,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		),
		&#039;stocks&#039; =&gt; array(
			&#039;id&#039; =&gt; &#039;2&#039;,
			&#039;product_id&#039; =&gt; &#039;2&#039;,
			&#039;stocks&#039; =&gt; &#039;12&#039;,
			&#039;Small&#039; =&gt; &#039;4&#039;,
			&#039;Large&#039; =&gt; &#039;4&#039;,
			&#039;X-Large&#039; =&gt; &#039;4&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-21 07:34:46&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-21 07:34:46&#039;,
			&#039;deleted&#039; =&gt; null,
			&#039;deleted_date&#039; =&gt; null
		)
	)
)
$saveitem = array(
	&#039;product_id&#039; =&gt; &#039;2&#039;,
	&#039;price_id&#039; =&gt; &#039;2&#039;,
	&#039;amount_of_order&#039; =&gt; &#039;1&#039;,
	&#039;amount_of_delivered&#039; =&gt; &#039;15&#039;
)
$y = (int) 1
$update = array(
	&#039;Product&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;2&#039;,
		&#039;product_categories_id&#039; =&gt; &#039;1&#039;,
		&#039;name&#039; =&gt; &#039;vv&#039;,
		&#039;description&#039; =&gt; &#039;vv&#039;,
		&#039;supplier_id&#039; =&gt; &#039;1&#039;,
		&#039;file_name&#039; =&gt; &#039;&#039;,
		&#039;release_date&#039; =&gt; null,
		&#039;reservation_flg&#039; =&gt; null,
		&#039;view_status&#039; =&gt; null,
		&#039;created&#039; =&gt; &#039;2015-03-21 07:34:26&#039;,
		&#039;modified&#039; =&gt; &#039;2015-03-21 07:34:26&#039;,
		&#039;deleted&#039; =&gt; null,
		&#039;deleted_date&#039; =&gt; null
	),
	&#039;product_categories&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;1&#039;,
		&#039;gender&#039; =&gt; &#039;1&#039;,
		&#039;type&#039; =&gt; &#039;T-Shirts&#039;,
		&#039;created&#039; =&gt; &#039;2015-03-20 22:19:47&#039;,
		&#039;modified&#039; =&gt; &#039;2015-03-20 22:19:47&#039;,
		&#039;deleted&#039; =&gt; null,
		&#039;deleted_date&#039; =&gt; &#039;2015-03-20 22:19:47&#039;
	),
	&#039;suppliers&#039; =&gt; array(
		&#039;id&#039; =&gt; null,
		&#039;name&#039; =&gt; null,
		&#039;address&#039; =&gt; null,
		&#039;email&#039; =&gt; null,
		&#039;phone_number&#039; =&gt; null,
		&#039;created&#039; =&gt; null,
		&#039;modified&#039; =&gt; null,
		&#039;deleted&#039; =&gt; null,
		&#039;deleted_int&#039; =&gt; null
	),
	&#039;selling_prices&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;2&#039;,
		&#039;product_id&#039; =&gt; &#039;2&#039;,
		&#039;price&#039; =&gt; &#039;300.00&#039;,
		&#039;created&#039; =&gt; null,
		&#039;modified&#039; =&gt; null,
		&#039;deleted&#039; =&gt; null,
		&#039;deleted_date&#039; =&gt; null
	),
	&#039;product_images&#039; =&gt; array(
		&#039;id&#039; =&gt; null,
		&#039;product_id&#039; =&gt; null,
		&#039;file_name&#039; =&gt; null,
		&#039;sort_order&#039; =&gt; null,
		&#039;created&#039; =&gt; null,
		&#039;modified&#039; =&gt; null,
		&#039;deleted&#039; =&gt; null,
		&#039;deleted_date&#039; =&gt; null
	),
	&#039;stocks&#039; =&gt; array(
		&#039;id&#039; =&gt; &#039;2&#039;,
		&#039;product_id&#039; =&gt; &#039;2&#039;,
		&#039;stocks&#039; =&gt; &#039;12&#039;,
		&#039;Small&#039; =&gt; &#039;4&#039;,
		&#039;Large&#039; =&gt; &#039;4&#039;,
		&#039;X-Large&#039; =&gt; &#039;4&#039;,
		&#039;created&#039; =&gt; &#039;2015-03-21 07:34:46&#039;,
		&#039;modified&#039; =&gt; &#039;2015-03-21 07:34:46&#039;,
		&#039;deleted&#039; =&gt; null,
		&#039;deleted_date&#039; =&gt; null
	)
)</pre><pre class="stack-trace">TopsController::checkLog() - APP\Controller\TopsController.php, line 155
ReflectionMethod::invokeArgs() - [internal], line ??
Controller::invokeAction() - CORE\Cake\Controller\Controller.php, line 490
Dispatcher::_invoke() - CORE\Cake\Routing\Dispatcher.php, line 191
Dispatcher::dispatch() - CORE\Cake\Routing\Dispatcher.php, line 165
[main] - APP\webroot\index.php, line 108</pre></div></pre><!DOCTYPE html>

<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	<title>
		Errors	</title>
	<link href="/favicon.ico" type="image/x-icon" rel="icon" /><link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/carousel.css" rel="stylesheet">

</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/Tops">Cost</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/Tops/male">Male <span class="sr-only">(current)</span></a></li>
        <li><a href="/Tops/female">Female</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/Tops/Contacts">About Us</a></li>
            <li><a href="/Settings/registration">Register</a></li>
            
            <!-- <li class="divider"></li>
            <li><a href="">Account</a></li> -->
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search" method="get" action="/Search/index">
        <div class="form-group">
          <input type="text" class="form-control" id="searchForm" placeholder="Search" name="words">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
         <a class="btn btn-default" href="/Tops/getcheckout"><span id="checkoutnumber">1</span>
          <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> </a>  
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>        <a href="/Settings/logout">Godfrey (logout)</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><body>
<h2>Database Error</h2>
<p class="error">
	<strong>Error: </strong>
	SQLSTATE[23000]: Integrity constraint violation: 1048 Column &#039;amount_of_order&#039; cannot be null</p>
	<p class="notice">
		<strong>SQL Query: </strong>
		INSERT INTO `cost`.`order_items` (`product_id`, `price_id`, `amount_of_order`, `amount_of_delivered`, `modified`, `created`) VALUES (2, 2, NULL, 15, &#039;2015-03-21 08:30:27&#039;, &#039;2015-03-21 08:30:27&#039;)	</p>
<p class="notice">
	<strong>Notice: </strong>
	If you want to customize this error message, create app\View\Errors\pdo_error.ctp</p>
<h3>Stack Trace</h3>
<ul class="cake-stack-trace">
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-0')">CORE\Cake\Model\Datasource\DboSource.php line 458</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-0')">PDOStatement->execute(array)</a> <div id="file-excerpt-0" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">try&nbsp;{</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$query&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">_connection</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">prepare</span><span style="color: #007700">(</span><span style="color: #0000BB">$sql</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$prepareOptions</span><span style="color: #007700">);</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$query</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">setFetchMode</span><span style="color: #007700">(</span><span style="color: #0000BB">PDO</span><span style="color: #007700">::</span><span style="color: #0000BB">FETCH_LAZY</span><span style="color: #007700">);</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">if&nbsp;(!</span><span style="color: #0000BB">$query</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">execute</span><span style="color: #007700">(</span><span style="color: #0000BB">$params</span><span style="color: #007700">))&nbsp;{</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">_results&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">$query</span><span style="color: #007700">;</span></span></code></pre></div> <div id="trace-args-0" class="cake-code-dump" style="display: none;"><pre>array()</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-1')">CORE\Cake\Model\Datasource\DboSource.php line 424</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-1')">DboSource->_execute(string, array)</a> <div id="file-excerpt-1" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$options&nbsp;</span><span style="color: #007700">+=&nbsp;array(</span><span style="color: #DD0000">'log'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">fullDebug</span><span style="color: #007700">);</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$t&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">microtime</span><span style="color: #007700">(</span><span style="color: #0000BB">true</span><span style="color: #007700">);</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">_result&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">_execute</span><span style="color: #007700">(</span><span style="color: #0000BB">$sql</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$params</span><span style="color: #007700">);</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code></pre></div> <div id="trace-args-1" class="cake-code-dump" style="display: none;"><pre>&#039;INSERT INTO `cost`.`order_items` (`product_id`, `price_id`, `amount_of_order`, `amount_of_delivered`, `modified`, `created`) VALUES (2, 2, NULL, 15, &#039;2015-03-21 08:30:27&#039;, &#039;2015-03-21 08:30:27&#039;)&#039;
array()</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-2')">CORE\Cake\Model\Datasource\DboSource.php line 1012</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-2')">DboSource->execute(string)</a> <div id="file-excerpt-2" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'values'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">implode</span><span style="color: #007700">(</span><span style="color: #DD0000">',&nbsp;'</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$valueInsert</span><span style="color: #007700">)</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">);</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">if&nbsp;(</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">execute</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">renderStatement</span><span style="color: #007700">(</span><span style="color: #DD0000">'create'</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$query</span><span style="color: #007700">)))&nbsp;{</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">if&nbsp;(empty(</span><span style="color: #0000BB">$id</span><span style="color: #007700">))&nbsp;{</span></span></code></pre></div> <div id="trace-args-2" class="cake-code-dump" style="display: none;"><pre>&#039;INSERT INTO `cost`.`order_items` (`product_id`, `price_id`, `amount_of_order`, `amount_of_delivered`, `modified`, `created`) VALUES (2, 2, NULL, 15, &#039;2015-03-21 08:30:27&#039;, &#039;2015-03-21 08:30:27&#039;)&#039;</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-3')">CORE\Cake\Model\Model.php line 1854</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-3')">DboSource->create(AppModel, array, array)</a> <div id="file-excerpt-3" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">}</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">}</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">if&nbsp;(!</span><span style="color: #0000BB">$db</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">create</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$fields</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$values</span><span style="color: #007700">))&nbsp;{</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$success&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">false</span><span style="color: #007700">;</span></span></code></pre></div> <div id="trace-args-3" class="cake-code-dump" style="display: none;"><pre>object(AppModel) {
	useDbConfig =&gt; &#039;default&#039;
	useTable =&gt; &#039;order_items&#039;
	id =&gt; false
	data =&gt; array(
		&#039;order_items&#039; =&gt; array(
			&#039;product_id&#039; =&gt; &#039;2&#039;,
			&#039;price_id&#039; =&gt; &#039;2&#039;,
			&#039;amount_of_order&#039; =&gt; null,
			&#039;amount_of_delivered&#039; =&gt; &#039;15&#039;,
			&#039;modified&#039; =&gt; &#039;2015-03-21 08:30:27&#039;,
			&#039;created&#039; =&gt; &#039;2015-03-21 08:30:27&#039;
		)
	)
	schemaName =&gt; &#039;cost&#039;
	table =&gt; &#039;order_items&#039;
	primaryKey =&gt; &#039;id&#039;
	validate =&gt; array()
	validationErrors =&gt; array()
	validationDomain =&gt; null
	tablePrefix =&gt; &#039;&#039;
	plugin =&gt; null
	name =&gt; &#039;order_items&#039;
	alias =&gt; &#039;order_items&#039;
	tableToModel =&gt; array(
		&#039;order_items&#039; =&gt; &#039;order_items&#039;
	)
	cacheQueries =&gt; false
	belongsTo =&gt; array()
	hasOne =&gt; array()
	hasMany =&gt; array()
	hasAndBelongsToMany =&gt; array()
	actsAs =&gt; null
	Behaviors =&gt; object(BehaviorCollection) {
		modelName =&gt; &#039;order_items&#039;
		defaultPriority =&gt; (int) 10
		[protected] _methods =&gt; array([maximum depth reached])
		[protected] _mappedMethods =&gt; array([maximum depth reached])
		[protected] _enabled =&gt; array([maximum depth reached])
		[protected] _loaded =&gt; array([maximum depth reached])
	}
	whitelist =&gt; array()
	cacheSources =&gt; true
	findQueryType =&gt; null
	recursive =&gt; (int) 1
	order =&gt; null
	virtualFields =&gt; array()
	__backAssociation =&gt; array()
	__backInnerAssociation =&gt; array()
	__backOriginalAssociation =&gt; array()
	__backContainableAssociation =&gt; array()
	__safeUpdateMode =&gt; false
	findMethods =&gt; array(
		&#039;all&#039; =&gt; true,
		&#039;first&#039; =&gt; true,
		&#039;count&#039; =&gt; true,
		&#039;neighbors&#039; =&gt; true,
		&#039;list&#039; =&gt; true,
		&#039;threaded&#039; =&gt; true
	)
	[protected] _schema =&gt; array(
		&#039;id&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;integer&#039;,
			&#039;null&#039; =&gt; false,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; (int) 11,
			&#039;unsigned&#039; =&gt; false,
			&#039;key&#039; =&gt; &#039;primary&#039;
		),
		&#039;product_id&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;integer&#039;,
			&#039;null&#039; =&gt; false,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; (int) 11,
			&#039;unsigned&#039; =&gt; false
		),
		&#039;price_id&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;integer&#039;,
			&#039;null&#039; =&gt; false,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; (int) 11,
			&#039;unsigned&#039; =&gt; false
		),
		&#039;amount_of_order&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;integer&#039;,
			&#039;null&#039; =&gt; false,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; (int) 11,
			&#039;unsigned&#039; =&gt; false
		),
		&#039;amount_of_delivered&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;integer&#039;,
			&#039;null&#039; =&gt; false,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; (int) 11,
			&#039;unsigned&#039; =&gt; false
		),
		&#039;created&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;datetime&#039;,
			&#039;null&#039; =&gt; true,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; null
		),
		&#039;modified&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;datetime&#039;,
			&#039;null&#039; =&gt; true,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; null
		),
		&#039;deleted&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;integer&#039;,
			&#039;null&#039; =&gt; true,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; (int) 4,
			&#039;unsigned&#039; =&gt; false
		),
		&#039;deleted_date&#039; =&gt; array(
			&#039;type&#039; =&gt; &#039;datetime&#039;,
			&#039;null&#039; =&gt; true,
			&#039;default&#039; =&gt; null,
			&#039;length&#039; =&gt; null
		)
	)
	[protected] _associationKeys =&gt; array(
		&#039;belongsTo&#039; =&gt; array(
			(int) 0 =&gt; &#039;className&#039;,
			(int) 1 =&gt; &#039;foreignKey&#039;,
			(int) 2 =&gt; &#039;conditions&#039;,
			(int) 3 =&gt; &#039;fields&#039;,
			(int) 4 =&gt; &#039;order&#039;,
			(int) 5 =&gt; &#039;counterCache&#039;
		),
		&#039;hasOne&#039; =&gt; array(
			(int) 0 =&gt; &#039;className&#039;,
			(int) 1 =&gt; &#039;foreignKey&#039;,
			(int) 2 =&gt; &#039;conditions&#039;,
			(int) 3 =&gt; &#039;fields&#039;,
			(int) 4 =&gt; &#039;order&#039;,
			(int) 5 =&gt; &#039;dependent&#039;
		),
		&#039;hasMany&#039; =&gt; array(
			(int) 0 =&gt; &#039;className&#039;,
			(int) 1 =&gt; &#039;foreignKey&#039;,
			(int) 2 =&gt; &#039;conditions&#039;,
			(int) 3 =&gt; &#039;fields&#039;,
			(int) 4 =&gt; &#039;order&#039;,
			(int) 5 =&gt; &#039;limit&#039;,
			(int) 6 =&gt; &#039;offset&#039;,
			(int) 7 =&gt; &#039;dependent&#039;,
			(int) 8 =&gt; &#039;exclusive&#039;,
			(int) 9 =&gt; &#039;finderQuery&#039;,
			(int) 10 =&gt; &#039;counterQuery&#039;
		),
		&#039;hasAndBelongsToMany&#039; =&gt; array(
			(int) 0 =&gt; &#039;className&#039;,
			(int) 1 =&gt; &#039;joinTable&#039;,
			(int) 2 =&gt; &#039;with&#039;,
			(int) 3 =&gt; &#039;foreignKey&#039;,
			(int) 4 =&gt; &#039;associationForeignKey&#039;,
			(int) 5 =&gt; &#039;conditions&#039;,
			(int) 6 =&gt; &#039;fields&#039;,
			(int) 7 =&gt; &#039;order&#039;,
			(int) 8 =&gt; &#039;limit&#039;,
			(int) 9 =&gt; &#039;offset&#039;,
			(int) 10 =&gt; &#039;unique&#039;,
			(int) 11 =&gt; &#039;finderQuery&#039;
		)
	)
	[protected] _associations =&gt; array(
		(int) 0 =&gt; &#039;belongsTo&#039;,
		(int) 1 =&gt; &#039;hasOne&#039;,
		(int) 2 =&gt; &#039;hasMany&#039;,
		(int) 3 =&gt; &#039;hasAndBelongsToMany&#039;
	)
	[protected] _insertID =&gt; &#039;13&#039;
	[protected] _sourceConfigured =&gt; true
	[protected] _eventManager =&gt; object(CakeEventManager) {
		[protected] _generalManager =&gt; object(CakeEventManager) {}
		[protected] _listeners =&gt; array(
			[maximum depth reached]
		)
		[protected] _isGlobal =&gt; false
	}
	[protected] _validator =&gt; object(ModelValidator) {
		[protected] _fields =&gt; array([maximum depth reached])
		[protected] _model =&gt; object(AppModel) {}
		[protected] _validate =&gt; array([maximum depth reached])
		[protected] _methods =&gt; array(
			[maximum depth reached]
		)
		[protected] _modelMethods =&gt; array(
			[maximum depth reached]
		)
		[protected] _behaviors =&gt; array([maximum depth reached])
	}
}
array(
	(int) 0 =&gt; &#039;product_id&#039;,
	(int) 1 =&gt; &#039;price_id&#039;,
	(int) 2 =&gt; &#039;amount_of_order&#039;,
	(int) 3 =&gt; &#039;amount_of_delivered&#039;,
	(int) 4 =&gt; &#039;modified&#039;,
	(int) 5 =&gt; &#039;created&#039;
)
array(
	(int) 0 =&gt; &#039;2&#039;,
	(int) 1 =&gt; &#039;2&#039;,
	(int) 2 =&gt; null,
	(int) 3 =&gt; &#039;15&#039;,
	(int) 4 =&gt; &#039;2015-03-21 08:30:27&#039;,
	(int) 5 =&gt; &#039;2015-03-21 08:30:27&#039;
)</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-4')">APP\Controller\TopsController.php line 157</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-4')">Model->save(array)</a> <div id="file-excerpt-4" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$saveitem</span><span style="color: #007700">[</span><span style="color: #DD0000">'price_id'</span><span style="color: #007700">]=&nbsp;</span><span style="color: #0000BB">$update</span><span style="color: #007700">[</span><span style="color: #DD0000">'selling_prices'</span><span style="color: #007700">][</span><span style="color: #DD0000">'id'</span><span style="color: #007700">];</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$saveitem</span><span style="color: #007700">[</span><span style="color: #DD0000">'amount_of_order'</span><span style="color: #007700">]&nbsp;=</span><span style="color: #0000BB">$numberOfprod</span><span style="color: #007700">[</span><span style="color: #DD0000">'item'</span><span style="color: #007700">][</span><span style="color: #0000BB">$y</span><span style="color: #007700">];</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$saveitem</span><span style="color: #007700">[</span><span style="color: #DD0000">'amount_of_delivered'</span><span style="color: #007700">]&nbsp;=&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">Auth</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">User</span><span style="color: #007700">(</span><span style="color: #DD0000">'id'</span><span style="color: #007700">);</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">order_items</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">save</span><span style="color: #007700">(</span><span style="color: #0000BB">$saveitem</span><span style="color: #007700">);</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$y</span><span style="color: #007700">+=</span><span style="color: #0000BB">1</span><span style="color: #007700">;</span></span></code></pre></div> <div id="trace-args-4" class="cake-code-dump" style="display: none;"><pre>array(
	&#039;product_id&#039; =&gt; &#039;2&#039;,
	&#039;price_id&#039; =&gt; &#039;2&#039;,
	&#039;amount_of_order&#039; =&gt; null,
	&#039;amount_of_delivered&#039; =&gt; &#039;15&#039;
)</pre></div></li>
	<li><a href="#">[internal function]</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-5')">TopsController->checkLog()</a> <div id="trace-args-5" class="cake-code-dump" style="display: none;"><pre></pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-6')">CORE\Cake\Controller\Controller.php line 490</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-6')">ReflectionMethod->invokeArgs(TopsController, array)</a> <div id="file-excerpt-6" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #DD0000">'action'&nbsp;</span><span style="color: #007700">=&gt;&nbsp;</span><span style="color: #0000BB">$request</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">params</span><span style="color: #007700">[</span><span style="color: #DD0000">'action'</span><span style="color: #007700">]</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">));</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">}</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">return&nbsp;</span><span style="color: #0000BB">$method</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">invokeArgs</span><span style="color: #007700">(</span><span style="color: #0000BB">$this</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$request</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">params</span><span style="color: #007700">[</span><span style="color: #DD0000">'pass'</span><span style="color: #007700">]);</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code></pre></div> <div id="trace-args-6" class="cake-code-dump" style="display: none;"><pre>object(TopsController) {
	components =&gt; array(
		&#039;DebugKit.Toolbar&#039; =&gt; null,
		&#039;Session&#039; =&gt; null,
		&#039;Paginator&#039; =&gt; null,
		&#039;Cookie&#039; =&gt; null,
		&#039;Auth&#039; =&gt; array(
			&#039;authenticate&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;loginRedirect&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;logoutRedirect&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;authorize&#039; =&gt; array(
				[maximum depth reached]
			)
		),
		&#039;TriggerMail&#039; =&gt; null
	)
	uses =&gt; array(
		(int) 0 =&gt; &#039;Product&#039;,
		(int) 1 =&gt; &#039;stocks&#039;,
		(int) 2 =&gt; &#039;order_items&#039;
	)
	publicProdId =&gt; null
	name =&gt; &#039;Tops&#039;
	helpers =&gt; array(
		(int) 0 =&gt; &#039;Number&#039;,
		(int) 1 =&gt; &#039;DebugKit.SimpleGraph&#039;
	)
	request =&gt; object(CakeRequest) {
		params =&gt; array(
			[maximum depth reached]
		)
		data =&gt; array(
			[maximum depth reached]
		)
		query =&gt; array([maximum depth reached])
		url =&gt; &#039;Tops/checkLog&#039;
		base =&gt; &#039;&#039;
		webroot =&gt; &#039;/&#039;
		here =&gt; &#039;/Tops/checkLog&#039;
		[protected] _detectors =&gt; array(
			[maximum depth reached]
		)
		[protected] _input =&gt; &#039;&#039;
	}
	response =&gt; object(CakeResponse) {
		[protected] _statusCodes =&gt; array(
			[maximum depth reached]
		)
		[protected] _mimeTypes =&gt; array(
			[maximum depth reached]
		)
		[protected] _protocol =&gt; &#039;HTTP/1.1&#039;
		[protected] _status =&gt; (int) 200
		[protected] _contentType =&gt; &#039;text/html&#039;
		[protected] _headers =&gt; array([maximum depth reached])
		[protected] _body =&gt; null
		[protected] _file =&gt; null
		[protected] _fileRange =&gt; null
		[protected] _charset =&gt; &#039;UTF-8&#039;
		[protected] _cacheDirectives =&gt; array([maximum depth reached])
		[protected] _cookies =&gt; array([maximum depth reached])
	}
	viewPath =&gt; &#039;Tops&#039;
	layoutPath =&gt; null
	viewVars =&gt; array()
	view =&gt; &#039;checkLog&#039;
	layout =&gt; false
	autoRender =&gt; false
	autoLayout =&gt; true
	Components =&gt; object(ComponentCollection) {
		defaultPriority =&gt; (int) 10
		[protected] _Controller =&gt; object(TopsController) {}
		[protected] _enabled =&gt; array(
			[maximum depth reached]
		)
		[protected] _loaded =&gt; array(
			[maximum depth reached]
		)
	}
	viewClass =&gt; &#039;View&#039;
	View =&gt; null
	ext =&gt; &#039;.ctp&#039;
	plugin =&gt; null
	cacheAction =&gt; false
	passedArgs =&gt; array()
	scaffold =&gt; false
	methods =&gt; array(
		(int) 1 =&gt; &#039;index&#039;,
		(int) 2 =&gt; &#039;male&#039;,
		(int) 3 =&gt; &#039;female&#039;,
		(int) 4 =&gt; &#039;addCart&#039;,
		(int) 5 =&gt; &#039;contacts&#039;,
		(int) 6 =&gt; &#039;checkout&#039;,
		(int) 7 =&gt; &#039;getItem&#039;,
		(int) 8 =&gt; &#039;getCheckout&#039;,
		(int) 9 =&gt; &#039;deleteitem&#039;,
		(int) 10 =&gt; &#039;checkLog&#039;,
		(int) 11 =&gt; &#039;checkoutItems&#039;,
		(int) 12 =&gt; &#039;debug&#039;,
		(int) 13 =&gt; &#039;clothing&#039;,
		(int) 14 =&gt; &#039;thank&#039;,
		(int) 15 =&gt; &#039;thanks&#039;,
		(int) 16 =&gt; &#039;isAuthorized&#039;
	)
	modelClass =&gt; &#039;Product&#039;
	modelKey =&gt; &#039;top&#039;
	validationErrors =&gt; null
	Toolbar =&gt; object(ToolbarComponent) {
		settings =&gt; array(
			[maximum depth reached]
		)
		controller =&gt; object(TopsController) {}
		components =&gt; array(
			[maximum depth reached]
		)
		panels =&gt; array(
			[maximum depth reached]
		)
		javascript =&gt; array(
			[maximum depth reached]
		)
		css =&gt; array(
			[maximum depth reached]
		)
		cacheKey =&gt; &#039;toolbar_cachebc2edeaa756af87f8330cb4ba936aa26&#039;
		cacheDuration =&gt; &#039;+4 hours&#039;
		enabled =&gt; true
		Session =&gt; object(SessionComponent) {}
		[protected] _defaultPanels =&gt; array(
			[maximum depth reached]
		)
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array(
			[maximum depth reached]
		)
	}
	Session =&gt; object(SessionComponent) {
		settings =&gt; array(
			[maximum depth reached]
		)
		components =&gt; array([maximum depth reached])
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Paginator =&gt; object(PaginatorComponent) {
		settings =&gt; array(
			[maximum depth reached]
		)
		whitelist =&gt; array(
			[maximum depth reached]
		)
		components =&gt; array([maximum depth reached])
		Controller =&gt; object(TopsController) {}
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Cookie =&gt; object(CookieComponent) {
		name =&gt; &#039;CakeCookie&#039;
		time =&gt; null
		path =&gt; &#039;/&#039;
		domain =&gt; &#039;&#039;
		secure =&gt; false
		key =&gt; &#039;fhhur839fjt73lnb3v44h2gdyfjgisfjgurhfbd74&#039;
		httpOnly =&gt; false
		settings =&gt; array([maximum depth reached])
		components =&gt; array([maximum depth reached])
		[protected] _values =&gt; array(
			[maximum depth reached]
		)
		[protected] _type =&gt; &#039;cipher&#039;
		[protected] _reset =&gt; null
		[protected] _expires =&gt; (int) 0
		[protected] _response =&gt; object(CakeResponse) {}
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Auth =&gt; object(AuthComponent) {
		components =&gt; array(
			[maximum depth reached]
		)
		authenticate =&gt; array(
			[maximum depth reached]
		)
		authorize =&gt; array(
			[maximum depth reached]
		)
		ajaxLogin =&gt; null
		flash =&gt; array(
			[maximum depth reached]
		)
		loginAction =&gt; array(
			[maximum depth reached]
		)
		loginRedirect =&gt; array(
			[maximum depth reached]
		)
		logoutRedirect =&gt; array(
			[maximum depth reached]
		)
		authError =&gt; &#039;You are not authorized to access that location.&#039;
		unauthorizedRedirect =&gt; true
		allowedActions =&gt; array(
			[maximum depth reached]
		)
		request =&gt; object(CakeRequest) {}
		response =&gt; object(CakeResponse) {}
		settings =&gt; array(
			[maximum depth reached]
		)
		fields =&gt; array(
			[maximum depth reached]
		)
		[protected] _authenticateObjects =&gt; array([maximum depth reached])
		[protected] _authorizeObjects =&gt; array([maximum depth reached])
		[protected] _user =&gt; array([maximum depth reached])
		[protected] _methods =&gt; array(
			[maximum depth reached]
		)
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array(
			[maximum depth reached]
		)
	}
	TriggerMail =&gt; object(TriggerMailComponent) {
		from_mail =&gt; &#039;glsarmenta7@gmail.com&#039;
		from_name =&gt; &#039;Godfrey&#039;
		subject =&gt; array(
			[maximum depth reached]
		)
		settings =&gt; array([maximum depth reached])
		components =&gt; array([maximum depth reached])
		controller =&gt; object(TopsController) {}
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Product =&gt; object(Product) {
		validate =&gt; array(
			[maximum depth reached]
		)
		hasOne =&gt; array(
			[maximum depth reached]
		)
		belongsTo =&gt; array(
			[maximum depth reached]
		)
		useDbConfig =&gt; &#039;default&#039;
		useTable =&gt; &#039;products&#039;
		id =&gt; false
		data =&gt; array([maximum depth reached])
		schemaName =&gt; &#039;cost&#039;
		table =&gt; &#039;products&#039;
		primaryKey =&gt; &#039;id&#039;
		validationErrors =&gt; array([maximum depth reached])
		validationDomain =&gt; null
		tablePrefix =&gt; &#039;&#039;
		plugin =&gt; null
		name =&gt; &#039;Product&#039;
		alias =&gt; &#039;Product&#039;
		tableToModel =&gt; array(
			[maximum depth reached]
		)
		cacheQueries =&gt; false
		hasMany =&gt; array([maximum depth reached])
		hasAndBelongsToMany =&gt; array([maximum depth reached])
		actsAs =&gt; null
		Behaviors =&gt; object(BehaviorCollection) {}
		whitelist =&gt; array([maximum depth reached])
		cacheSources =&gt; true
		findQueryType =&gt; null
		recursive =&gt; (int) 1
		order =&gt; null
		virtualFields =&gt; array([maximum depth reached])
		__backAssociation =&gt; array([maximum depth reached])
		__backInnerAssociation =&gt; array([maximum depth reached])
		__backOriginalAssociation =&gt; array([maximum depth reached])
		__backContainableAssociation =&gt; array([maximum depth reached])
		__safeUpdateMode =&gt; false
		findMethods =&gt; array(
			[maximum depth reached]
		)
		product_categories =&gt; object(AppModel) {}
		suppliers =&gt; object(Suppliers) {}
		selling_prices =&gt; object(AppModel) {}
		product_images =&gt; object(AppModel) {}
		stocks =&gt; object(AppModel) {}
		[protected] _schema =&gt; array(
			[maximum depth reached]
		)
		[protected] _associationKeys =&gt; array(
			[maximum depth reached]
		)
		[protected] _associations =&gt; array(
			[maximum depth reached]
		)
		[protected] _insertID =&gt; null
		[protected] _sourceConfigured =&gt; true
		[protected] _eventManager =&gt; object(CakeEventManager) {}
		[protected] _validator =&gt; null
	}
	order_items =&gt; object(AppModel) {
		useDbConfig =&gt; &#039;default&#039;
		useTable =&gt; &#039;order_items&#039;
		id =&gt; false
		data =&gt; array(
			[maximum depth reached]
		)
		schemaName =&gt; &#039;cost&#039;
		table =&gt; &#039;order_items&#039;
		primaryKey =&gt; &#039;id&#039;
		validate =&gt; array([maximum depth reached])
		validationErrors =&gt; array([maximum depth reached])
		validationDomain =&gt; null
		tablePrefix =&gt; &#039;&#039;
		plugin =&gt; null
		name =&gt; &#039;order_items&#039;
		alias =&gt; &#039;order_items&#039;
		tableToModel =&gt; array(
			[maximum depth reached]
		)
		cacheQueries =&gt; false
		belongsTo =&gt; array([maximum depth reached])
		hasOne =&gt; array([maximum depth reached])
		hasMany =&gt; array([maximum depth reached])
		hasAndBelongsToMany =&gt; array([maximum depth reached])
		actsAs =&gt; null
		Behaviors =&gt; object(BehaviorCollection) {}
		whitelist =&gt; array([maximum depth reached])
		cacheSources =&gt; true
		findQueryType =&gt; null
		recursive =&gt; (int) 1
		order =&gt; null
		virtualFields =&gt; array([maximum depth reached])
		__backAssociation =&gt; array([maximum depth reached])
		__backInnerAssociation =&gt; array([maximum depth reached])
		__backOriginalAssociation =&gt; array([maximum depth reached])
		__backContainableAssociation =&gt; array([maximum depth reached])
		__safeUpdateMode =&gt; false
		findMethods =&gt; array(
			[maximum depth reached]
		)
		[protected] _schema =&gt; array(
			[maximum depth reached]
		)
		[protected] _associationKeys =&gt; array(
			[maximum depth reached]
		)
		[protected] _associations =&gt; array(
			[maximum depth reached]
		)
		[protected] _insertID =&gt; &#039;13&#039;
		[protected] _sourceConfigured =&gt; true
		[protected] _eventManager =&gt; object(CakeEventManager) {}
		[protected] _validator =&gt; object(ModelValidator) {}
	}
	[protected] _responseClass =&gt; &#039;CakeResponse&#039;
	[protected] _mergeParent =&gt; &#039;AppController&#039;
	[protected] _eventManager =&gt; object(CakeEventManager) {
		[protected] _generalManager =&gt; object(CakeEventManager) {}
		[protected] _listeners =&gt; array(
			[maximum depth reached]
		)
		[protected] _isGlobal =&gt; false
	}
}
array()</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-7')">CORE\Cake\Routing\Dispatcher.php line 191</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-7')">Controller->invokeAction(CakeRequest)</a> <div id="file-excerpt-7" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB"></span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$response&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">$controller</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">response</span><span style="color: #007700">;</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$render&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">true</span><span style="color: #007700">;</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$result&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">$controller</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">invokeAction</span><span style="color: #007700">(</span><span style="color: #0000BB">$request</span><span style="color: #007700">);</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">if&nbsp;(</span><span style="color: #0000BB">$result&nbsp;</span><span style="color: #007700">instanceof&nbsp;</span><span style="color: #0000BB">CakeResponse</span><span style="color: #007700">)&nbsp;{</span></span></code></pre></div> <div id="trace-args-7" class="cake-code-dump" style="display: none;"><pre>object(CakeRequest) {
	params =&gt; array(
		&#039;plugin&#039; =&gt; null,
		&#039;controller&#039; =&gt; &#039;Tops&#039;,
		&#039;action&#039; =&gt; &#039;checkLog&#039;,
		&#039;named&#039; =&gt; array(),
		&#039;pass&#039; =&gt; array(),
		&#039;models&#039; =&gt; array(
			&#039;Product&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;product_categories&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;suppliers&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;selling_prices&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;product_images&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;stocks&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;order_items&#039; =&gt; array(
				[maximum depth reached]
			)
		)
	)
	data =&gt; array(
		&#039;item&#039; =&gt; array(
			(int) 0 =&gt; &#039;1&#039;
		)
	)
	query =&gt; array()
	url =&gt; &#039;Tops/checkLog&#039;
	base =&gt; &#039;&#039;
	webroot =&gt; &#039;/&#039;
	here =&gt; &#039;/Tops/checkLog&#039;
	[protected] _detectors =&gt; array(
		&#039;get&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;GET&#039;
		),
		&#039;post&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;POST&#039;
		),
		&#039;put&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;PUT&#039;
		),
		&#039;delete&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;DELETE&#039;
		),
		&#039;head&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;HEAD&#039;
		),
		&#039;options&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;OPTIONS&#039;
		),
		&#039;ssl&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTPS&#039;,
			&#039;value&#039; =&gt; (int) 1
		),
		&#039;ajax&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_X_REQUESTED_WITH&#039;,
			&#039;value&#039; =&gt; &#039;XMLHttpRequest&#039;
		),
		&#039;flash&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_USER_AGENT&#039;,
			&#039;pattern&#039; =&gt; &#039;/^(Shockwave|Adobe) Flash/&#039;
		),
		&#039;mobile&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_USER_AGENT&#039;,
			&#039;options&#039; =&gt; array(
				[maximum depth reached]
			)
		),
		&#039;requested&#039; =&gt; array(
			&#039;param&#039; =&gt; &#039;requested&#039;,
			&#039;value&#039; =&gt; (int) 1
		)
	)
	[protected] _input =&gt; &#039;&#039;
}</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-8')">CORE\Cake\Routing\Dispatcher.php line 165</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-8')">Dispatcher->_invoke(TopsController, CakeRequest)</a> <div id="file-excerpt-8" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">));</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">}</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;$response&nbsp;</span><span style="color: #007700">=&nbsp;</span><span style="color: #0000BB">$this</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">_invoke</span><span style="color: #007700">(</span><span style="color: #0000BB">$controller</span><span style="color: #007700">,&nbsp;</span><span style="color: #0000BB">$request</span><span style="color: #007700">);</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">if&nbsp;(isset(</span><span style="color: #0000BB">$request</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">params</span><span style="color: #007700">[</span><span style="color: #DD0000">'return'</span><span style="color: #007700">]))&nbsp;{</span></span></code></pre></div> <div id="trace-args-8" class="cake-code-dump" style="display: none;"><pre>object(TopsController) {
	components =&gt; array(
		&#039;DebugKit.Toolbar&#039; =&gt; null,
		&#039;Session&#039; =&gt; null,
		&#039;Paginator&#039; =&gt; null,
		&#039;Cookie&#039; =&gt; null,
		&#039;Auth&#039; =&gt; array(
			&#039;authenticate&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;loginRedirect&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;logoutRedirect&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;authorize&#039; =&gt; array(
				[maximum depth reached]
			)
		),
		&#039;TriggerMail&#039; =&gt; null
	)
	uses =&gt; array(
		(int) 0 =&gt; &#039;Product&#039;,
		(int) 1 =&gt; &#039;stocks&#039;,
		(int) 2 =&gt; &#039;order_items&#039;
	)
	publicProdId =&gt; null
	name =&gt; &#039;Tops&#039;
	helpers =&gt; array(
		(int) 0 =&gt; &#039;Number&#039;,
		(int) 1 =&gt; &#039;DebugKit.SimpleGraph&#039;
	)
	request =&gt; object(CakeRequest) {
		params =&gt; array(
			[maximum depth reached]
		)
		data =&gt; array(
			[maximum depth reached]
		)
		query =&gt; array([maximum depth reached])
		url =&gt; &#039;Tops/checkLog&#039;
		base =&gt; &#039;&#039;
		webroot =&gt; &#039;/&#039;
		here =&gt; &#039;/Tops/checkLog&#039;
		[protected] _detectors =&gt; array(
			[maximum depth reached]
		)
		[protected] _input =&gt; &#039;&#039;
	}
	response =&gt; object(CakeResponse) {
		[protected] _statusCodes =&gt; array(
			[maximum depth reached]
		)
		[protected] _mimeTypes =&gt; array(
			[maximum depth reached]
		)
		[protected] _protocol =&gt; &#039;HTTP/1.1&#039;
		[protected] _status =&gt; (int) 200
		[protected] _contentType =&gt; &#039;text/html&#039;
		[protected] _headers =&gt; array([maximum depth reached])
		[protected] _body =&gt; null
		[protected] _file =&gt; null
		[protected] _fileRange =&gt; null
		[protected] _charset =&gt; &#039;UTF-8&#039;
		[protected] _cacheDirectives =&gt; array([maximum depth reached])
		[protected] _cookies =&gt; array([maximum depth reached])
	}
	viewPath =&gt; &#039;Tops&#039;
	layoutPath =&gt; null
	viewVars =&gt; array()
	view =&gt; &#039;checkLog&#039;
	layout =&gt; false
	autoRender =&gt; false
	autoLayout =&gt; true
	Components =&gt; object(ComponentCollection) {
		defaultPriority =&gt; (int) 10
		[protected] _Controller =&gt; object(TopsController) {}
		[protected] _enabled =&gt; array(
			[maximum depth reached]
		)
		[protected] _loaded =&gt; array(
			[maximum depth reached]
		)
	}
	viewClass =&gt; &#039;View&#039;
	View =&gt; null
	ext =&gt; &#039;.ctp&#039;
	plugin =&gt; null
	cacheAction =&gt; false
	passedArgs =&gt; array()
	scaffold =&gt; false
	methods =&gt; array(
		(int) 1 =&gt; &#039;index&#039;,
		(int) 2 =&gt; &#039;male&#039;,
		(int) 3 =&gt; &#039;female&#039;,
		(int) 4 =&gt; &#039;addCart&#039;,
		(int) 5 =&gt; &#039;contacts&#039;,
		(int) 6 =&gt; &#039;checkout&#039;,
		(int) 7 =&gt; &#039;getItem&#039;,
		(int) 8 =&gt; &#039;getCheckout&#039;,
		(int) 9 =&gt; &#039;deleteitem&#039;,
		(int) 10 =&gt; &#039;checkLog&#039;,
		(int) 11 =&gt; &#039;checkoutItems&#039;,
		(int) 12 =&gt; &#039;debug&#039;,
		(int) 13 =&gt; &#039;clothing&#039;,
		(int) 14 =&gt; &#039;thank&#039;,
		(int) 15 =&gt; &#039;thanks&#039;,
		(int) 16 =&gt; &#039;isAuthorized&#039;
	)
	modelClass =&gt; &#039;Product&#039;
	modelKey =&gt; &#039;top&#039;
	validationErrors =&gt; null
	Toolbar =&gt; object(ToolbarComponent) {
		settings =&gt; array(
			[maximum depth reached]
		)
		controller =&gt; object(TopsController) {}
		components =&gt; array(
			[maximum depth reached]
		)
		panels =&gt; array(
			[maximum depth reached]
		)
		javascript =&gt; array(
			[maximum depth reached]
		)
		css =&gt; array(
			[maximum depth reached]
		)
		cacheKey =&gt; &#039;toolbar_cachebc2edeaa756af87f8330cb4ba936aa26&#039;
		cacheDuration =&gt; &#039;+4 hours&#039;
		enabled =&gt; true
		Session =&gt; object(SessionComponent) {}
		[protected] _defaultPanels =&gt; array(
			[maximum depth reached]
		)
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array(
			[maximum depth reached]
		)
	}
	Session =&gt; object(SessionComponent) {
		settings =&gt; array(
			[maximum depth reached]
		)
		components =&gt; array([maximum depth reached])
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Paginator =&gt; object(PaginatorComponent) {
		settings =&gt; array(
			[maximum depth reached]
		)
		whitelist =&gt; array(
			[maximum depth reached]
		)
		components =&gt; array([maximum depth reached])
		Controller =&gt; object(TopsController) {}
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Cookie =&gt; object(CookieComponent) {
		name =&gt; &#039;CakeCookie&#039;
		time =&gt; null
		path =&gt; &#039;/&#039;
		domain =&gt; &#039;&#039;
		secure =&gt; false
		key =&gt; &#039;fhhur839fjt73lnb3v44h2gdyfjgisfjgurhfbd74&#039;
		httpOnly =&gt; false
		settings =&gt; array([maximum depth reached])
		components =&gt; array([maximum depth reached])
		[protected] _values =&gt; array(
			[maximum depth reached]
		)
		[protected] _type =&gt; &#039;cipher&#039;
		[protected] _reset =&gt; null
		[protected] _expires =&gt; (int) 0
		[protected] _response =&gt; object(CakeResponse) {}
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Auth =&gt; object(AuthComponent) {
		components =&gt; array(
			[maximum depth reached]
		)
		authenticate =&gt; array(
			[maximum depth reached]
		)
		authorize =&gt; array(
			[maximum depth reached]
		)
		ajaxLogin =&gt; null
		flash =&gt; array(
			[maximum depth reached]
		)
		loginAction =&gt; array(
			[maximum depth reached]
		)
		loginRedirect =&gt; array(
			[maximum depth reached]
		)
		logoutRedirect =&gt; array(
			[maximum depth reached]
		)
		authError =&gt; &#039;You are not authorized to access that location.&#039;
		unauthorizedRedirect =&gt; true
		allowedActions =&gt; array(
			[maximum depth reached]
		)
		request =&gt; object(CakeRequest) {}
		response =&gt; object(CakeResponse) {}
		settings =&gt; array(
			[maximum depth reached]
		)
		fields =&gt; array(
			[maximum depth reached]
		)
		[protected] _authenticateObjects =&gt; array([maximum depth reached])
		[protected] _authorizeObjects =&gt; array([maximum depth reached])
		[protected] _user =&gt; array([maximum depth reached])
		[protected] _methods =&gt; array(
			[maximum depth reached]
		)
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array(
			[maximum depth reached]
		)
	}
	TriggerMail =&gt; object(TriggerMailComponent) {
		from_mail =&gt; &#039;glsarmenta7@gmail.com&#039;
		from_name =&gt; &#039;Godfrey&#039;
		subject =&gt; array(
			[maximum depth reached]
		)
		settings =&gt; array([maximum depth reached])
		components =&gt; array([maximum depth reached])
		controller =&gt; object(TopsController) {}
		[protected] _Collection =&gt; object(ComponentCollection) {}
		[protected] _componentMap =&gt; array([maximum depth reached])
	}
	Product =&gt; object(Product) {
		validate =&gt; array(
			[maximum depth reached]
		)
		hasOne =&gt; array(
			[maximum depth reached]
		)
		belongsTo =&gt; array(
			[maximum depth reached]
		)
		useDbConfig =&gt; &#039;default&#039;
		useTable =&gt; &#039;products&#039;
		id =&gt; false
		data =&gt; array([maximum depth reached])
		schemaName =&gt; &#039;cost&#039;
		table =&gt; &#039;products&#039;
		primaryKey =&gt; &#039;id&#039;
		validationErrors =&gt; array([maximum depth reached])
		validationDomain =&gt; null
		tablePrefix =&gt; &#039;&#039;
		plugin =&gt; null
		name =&gt; &#039;Product&#039;
		alias =&gt; &#039;Product&#039;
		tableToModel =&gt; array(
			[maximum depth reached]
		)
		cacheQueries =&gt; false
		hasMany =&gt; array([maximum depth reached])
		hasAndBelongsToMany =&gt; array([maximum depth reached])
		actsAs =&gt; null
		Behaviors =&gt; object(BehaviorCollection) {}
		whitelist =&gt; array([maximum depth reached])
		cacheSources =&gt; true
		findQueryType =&gt; null
		recursive =&gt; (int) 1
		order =&gt; null
		virtualFields =&gt; array([maximum depth reached])
		__backAssociation =&gt; array([maximum depth reached])
		__backInnerAssociation =&gt; array([maximum depth reached])
		__backOriginalAssociation =&gt; array([maximum depth reached])
		__backContainableAssociation =&gt; array([maximum depth reached])
		__safeUpdateMode =&gt; false
		findMethods =&gt; array(
			[maximum depth reached]
		)
		product_categories =&gt; object(AppModel) {}
		suppliers =&gt; object(Suppliers) {}
		selling_prices =&gt; object(AppModel) {}
		product_images =&gt; object(AppModel) {}
		stocks =&gt; object(AppModel) {}
		[protected] _schema =&gt; array(
			[maximum depth reached]
		)
		[protected] _associationKeys =&gt; array(
			[maximum depth reached]
		)
		[protected] _associations =&gt; array(
			[maximum depth reached]
		)
		[protected] _insertID =&gt; null
		[protected] _sourceConfigured =&gt; true
		[protected] _eventManager =&gt; object(CakeEventManager) {}
		[protected] _validator =&gt; null
	}
	order_items =&gt; object(AppModel) {
		useDbConfig =&gt; &#039;default&#039;
		useTable =&gt; &#039;order_items&#039;
		id =&gt; false
		data =&gt; array(
			[maximum depth reached]
		)
		schemaName =&gt; &#039;cost&#039;
		table =&gt; &#039;order_items&#039;
		primaryKey =&gt; &#039;id&#039;
		validate =&gt; array([maximum depth reached])
		validationErrors =&gt; array([maximum depth reached])
		validationDomain =&gt; null
		tablePrefix =&gt; &#039;&#039;
		plugin =&gt; null
		name =&gt; &#039;order_items&#039;
		alias =&gt; &#039;order_items&#039;
		tableToModel =&gt; array(
			[maximum depth reached]
		)
		cacheQueries =&gt; false
		belongsTo =&gt; array([maximum depth reached])
		hasOne =&gt; array([maximum depth reached])
		hasMany =&gt; array([maximum depth reached])
		hasAndBelongsToMany =&gt; array([maximum depth reached])
		actsAs =&gt; null
		Behaviors =&gt; object(BehaviorCollection) {}
		whitelist =&gt; array([maximum depth reached])
		cacheSources =&gt; true
		findQueryType =&gt; null
		recursive =&gt; (int) 1
		order =&gt; null
		virtualFields =&gt; array([maximum depth reached])
		__backAssociation =&gt; array([maximum depth reached])
		__backInnerAssociation =&gt; array([maximum depth reached])
		__backOriginalAssociation =&gt; array([maximum depth reached])
		__backContainableAssociation =&gt; array([maximum depth reached])
		__safeUpdateMode =&gt; false
		findMethods =&gt; array(
			[maximum depth reached]
		)
		[protected] _schema =&gt; array(
			[maximum depth reached]
		)
		[protected] _associationKeys =&gt; array(
			[maximum depth reached]
		)
		[protected] _associations =&gt; array(
			[maximum depth reached]
		)
		[protected] _insertID =&gt; &#039;13&#039;
		[protected] _sourceConfigured =&gt; true
		[protected] _eventManager =&gt; object(CakeEventManager) {}
		[protected] _validator =&gt; object(ModelValidator) {}
	}
	[protected] _responseClass =&gt; &#039;CakeResponse&#039;
	[protected] _mergeParent =&gt; &#039;AppController&#039;
	[protected] _eventManager =&gt; object(CakeEventManager) {
		[protected] _generalManager =&gt; object(CakeEventManager) {}
		[protected] _listeners =&gt; array(
			[maximum depth reached]
		)
		[protected] _isGlobal =&gt; false
	}
}
object(CakeRequest) {
	params =&gt; array(
		&#039;plugin&#039; =&gt; null,
		&#039;controller&#039; =&gt; &#039;Tops&#039;,
		&#039;action&#039; =&gt; &#039;checkLog&#039;,
		&#039;named&#039; =&gt; array(),
		&#039;pass&#039; =&gt; array(),
		&#039;models&#039; =&gt; array(
			&#039;Product&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;product_categories&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;suppliers&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;selling_prices&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;product_images&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;stocks&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;order_items&#039; =&gt; array(
				[maximum depth reached]
			)
		)
	)
	data =&gt; array(
		&#039;item&#039; =&gt; array(
			(int) 0 =&gt; &#039;1&#039;
		)
	)
	query =&gt; array()
	url =&gt; &#039;Tops/checkLog&#039;
	base =&gt; &#039;&#039;
	webroot =&gt; &#039;/&#039;
	here =&gt; &#039;/Tops/checkLog&#039;
	[protected] _detectors =&gt; array(
		&#039;get&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;GET&#039;
		),
		&#039;post&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;POST&#039;
		),
		&#039;put&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;PUT&#039;
		),
		&#039;delete&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;DELETE&#039;
		),
		&#039;head&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;HEAD&#039;
		),
		&#039;options&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;OPTIONS&#039;
		),
		&#039;ssl&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTPS&#039;,
			&#039;value&#039; =&gt; (int) 1
		),
		&#039;ajax&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_X_REQUESTED_WITH&#039;,
			&#039;value&#039; =&gt; &#039;XMLHttpRequest&#039;
		),
		&#039;flash&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_USER_AGENT&#039;,
			&#039;pattern&#039; =&gt; &#039;/^(Shockwave|Adobe) Flash/&#039;
		),
		&#039;mobile&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_USER_AGENT&#039;,
			&#039;options&#039; =&gt; array(
				[maximum depth reached]
			)
		),
		&#039;requested&#039; =&gt; array(
			&#039;param&#039; =&gt; &#039;requested&#039;,
			&#039;value&#039; =&gt; (int) 1
		)
	)
	[protected] _input =&gt; &#039;&#039;
}</pre></div></li>
	<li><a href="#" onclick="traceToggle(event, 'file-excerpt-9')">APP\webroot\index.php line 108</a> &rarr; <a href="#" onclick="traceToggle(event, 'trace-args-9')">Dispatcher->dispatch(CakeRequest, CakeResponse)</a> <div id="file-excerpt-9" class="cake-code-dump" style="display:none;"><pre><code><span style="color: #000000"><span style="color: #0000BB">$Dispatcher</span><span style="color: #007700">-&gt;</span><span style="color: #0000BB">dispatch</span><span style="color: #007700">(</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">new&nbsp;</span><span style="color: #0000BB">CakeRequest</span><span style="color: #007700">(),</span></span></code>
<code><span style="color: #000000"><span style="color: #0000BB">&nbsp;&nbsp;&nbsp;&nbsp;</span><span style="color: #007700">new&nbsp;</span><span style="color: #0000BB">CakeResponse</span><span style="color: #007700">()</span></span></code>
<span class="code-highlight"><code><span style="color: #000000"><span style="color: #0000BB"></span><span style="color: #007700">);</span></span></code></span>
<code><span style="color: #000000"><span style="color: #0000BB"></span></span></code></pre></div> <div id="trace-args-9" class="cake-code-dump" style="display: none;"><pre>object(CakeRequest) {
	params =&gt; array(
		&#039;plugin&#039; =&gt; null,
		&#039;controller&#039; =&gt; &#039;Tops&#039;,
		&#039;action&#039; =&gt; &#039;checkLog&#039;,
		&#039;named&#039; =&gt; array(),
		&#039;pass&#039; =&gt; array(),
		&#039;models&#039; =&gt; array(
			&#039;Product&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;product_categories&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;suppliers&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;selling_prices&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;product_images&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;stocks&#039; =&gt; array(
				[maximum depth reached]
			),
			&#039;order_items&#039; =&gt; array(
				[maximum depth reached]
			)
		)
	)
	data =&gt; array(
		&#039;item&#039; =&gt; array(
			(int) 0 =&gt; &#039;1&#039;
		)
	)
	query =&gt; array()
	url =&gt; &#039;Tops/checkLog&#039;
	base =&gt; &#039;&#039;
	webroot =&gt; &#039;/&#039;
	here =&gt; &#039;/Tops/checkLog&#039;
	[protected] _detectors =&gt; array(
		&#039;get&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;GET&#039;
		),
		&#039;post&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;POST&#039;
		),
		&#039;put&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;PUT&#039;
		),
		&#039;delete&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;DELETE&#039;
		),
		&#039;head&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;HEAD&#039;
		),
		&#039;options&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;REQUEST_METHOD&#039;,
			&#039;value&#039; =&gt; &#039;OPTIONS&#039;
		),
		&#039;ssl&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTPS&#039;,
			&#039;value&#039; =&gt; (int) 1
		),
		&#039;ajax&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_X_REQUESTED_WITH&#039;,
			&#039;value&#039; =&gt; &#039;XMLHttpRequest&#039;
		),
		&#039;flash&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_USER_AGENT&#039;,
			&#039;pattern&#039; =&gt; &#039;/^(Shockwave|Adobe) Flash/&#039;
		),
		&#039;mobile&#039; =&gt; array(
			&#039;env&#039; =&gt; &#039;HTTP_USER_AGENT&#039;,
			&#039;options&#039; =&gt; array(
				[maximum depth reached]
			)
		),
		&#039;requested&#039; =&gt; array(
			&#039;param&#039; =&gt; &#039;requested&#039;,
			&#039;value&#039; =&gt; (int) 1
		)
	)
	[protected] _input =&gt; &#039;&#039;
}
object(CakeResponse) {
	[protected] _statusCodes =&gt; array(
		(int) 100 =&gt; &#039;Continue&#039;,
		(int) 101 =&gt; &#039;Switching Protocols&#039;,
		(int) 200 =&gt; &#039;OK&#039;,
		(int) 201 =&gt; &#039;Created&#039;,
		(int) 202 =&gt; &#039;Accepted&#039;,
		(int) 203 =&gt; &#039;Non-Authoritative Information&#039;,
		(int) 204 =&gt; &#039;No Content&#039;,
		(int) 205 =&gt; &#039;Reset Content&#039;,
		(int) 206 =&gt; &#039;Partial Content&#039;,
		(int) 300 =&gt; &#039;Multiple Choices&#039;,
		(int) 301 =&gt; &#039;Moved Permanently&#039;,
		(int) 302 =&gt; &#039;Found&#039;,
		(int) 303 =&gt; &#039;See Other&#039;,
		(int) 304 =&gt; &#039;Not Modified&#039;,
		(int) 305 =&gt; &#039;Use Proxy&#039;,
		(int) 307 =&gt; &#039;Temporary Redirect&#039;,
		(int) 400 =&gt; &#039;Bad Request&#039;,
		(int) 401 =&gt; &#039;Unauthorized&#039;,
		(int) 402 =&gt; &#039;Payment Required&#039;,
		(int) 403 =&gt; &#039;Forbidden&#039;,
		(int) 404 =&gt; &#039;Not Found&#039;,
		(int) 405 =&gt; &#039;Method Not Allowed&#039;,
		(int) 406 =&gt; &#039;Not Acceptable&#039;,
		(int) 407 =&gt; &#039;Proxy Authentication Required&#039;,
		(int) 408 =&gt; &#039;Request Time-out&#039;,
		(int) 409 =&gt; &#039;Conflict&#039;,
		(int) 410 =&gt; &#039;Gone&#039;,
		(int) 411 =&gt; &#039;Length Required&#039;,
		(int) 412 =&gt; &#039;Precondition Failed&#039;,
		(int) 413 =&gt; &#039;Request Entity Too Large&#039;,
		(int) 414 =&gt; &#039;Request-URI Too Large&#039;,
		(int) 415 =&gt; &#039;Unsupported Media Type&#039;,
		(int) 416 =&gt; &#039;Requested range not satisfiable&#039;,
		(int) 417 =&gt; &#039;Expectation Failed&#039;,
		(int) 500 =&gt; &#039;Internal Server Error&#039;,
		(int) 501 =&gt; &#039;Not Implemented&#039;,
		(int) 502 =&gt; &#039;Bad Gateway&#039;,
		(int) 503 =&gt; &#039;Service Unavailable&#039;,
		(int) 504 =&gt; &#039;Gateway Time-out&#039;,
		(int) 505 =&gt; &#039;Unsupported Version&#039;
	)
	[protected] _mimeTypes =&gt; array(
		&#039;html&#039; =&gt; array(
			(int) 0 =&gt; &#039;text/html&#039;,
			(int) 1 =&gt; &#039;*/*&#039;
		),
		&#039;json&#039; =&gt; &#039;application/json&#039;,
		&#039;xml&#039; =&gt; array(
			(int) 0 =&gt; &#039;application/xml&#039;,
			(int) 1 =&gt; &#039;text/xml&#039;
		),
		&#039;rss&#039; =&gt; &#039;application/rss+xml&#039;,
		&#039;ai&#039; =&gt; &#039;application/postscript&#039;,
		&#039;bcpio&#039; =&gt; &#039;application/x-bcpio&#039;,
		&#039;bin&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;ccad&#039; =&gt; &#039;application/clariscad&#039;,
		&#039;cdf&#039; =&gt; &#039;application/x-netcdf&#039;,
		&#039;class&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;cpio&#039; =&gt; &#039;application/x-cpio&#039;,
		&#039;cpt&#039; =&gt; &#039;application/mac-compactpro&#039;,
		&#039;csh&#039; =&gt; &#039;application/x-csh&#039;,
		&#039;csv&#039; =&gt; array(
			(int) 0 =&gt; &#039;text/csv&#039;,
			(int) 1 =&gt; &#039;application/vnd.ms-excel&#039;,
			(int) 2 =&gt; &#039;text/plain&#039;
		),
		&#039;dcr&#039; =&gt; &#039;application/x-director&#039;,
		&#039;dir&#039; =&gt; &#039;application/x-director&#039;,
		&#039;dms&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;doc&#039; =&gt; &#039;application/msword&#039;,
		&#039;docx&#039; =&gt; &#039;application/vnd.openxmlformats-officedocument.wordprocessingml.document&#039;,
		&#039;drw&#039; =&gt; &#039;application/drafting&#039;,
		&#039;dvi&#039; =&gt; &#039;application/x-dvi&#039;,
		&#039;dwg&#039; =&gt; &#039;application/acad&#039;,
		&#039;dxf&#039; =&gt; &#039;application/dxf&#039;,
		&#039;dxr&#039; =&gt; &#039;application/x-director&#039;,
		&#039;eot&#039; =&gt; &#039;application/vnd.ms-fontobject&#039;,
		&#039;eps&#039; =&gt; &#039;application/postscript&#039;,
		&#039;exe&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;ez&#039; =&gt; &#039;application/andrew-inset&#039;,
		&#039;flv&#039; =&gt; &#039;video/x-flv&#039;,
		&#039;gtar&#039; =&gt; &#039;application/x-gtar&#039;,
		&#039;gz&#039; =&gt; &#039;application/x-gzip&#039;,
		&#039;bz2&#039; =&gt; &#039;application/x-bzip&#039;,
		&#039;7z&#039; =&gt; &#039;application/x-7z-compressed&#039;,
		&#039;hdf&#039; =&gt; &#039;application/x-hdf&#039;,
		&#039;hqx&#039; =&gt; &#039;application/mac-binhex40&#039;,
		&#039;ico&#039; =&gt; &#039;image/x-icon&#039;,
		&#039;ips&#039; =&gt; &#039;application/x-ipscript&#039;,
		&#039;ipx&#039; =&gt; &#039;application/x-ipix&#039;,
		&#039;js&#039; =&gt; &#039;application/javascript&#039;,
		&#039;latex&#039; =&gt; &#039;application/x-latex&#039;,
		&#039;lha&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;lsp&#039; =&gt; &#039;application/x-lisp&#039;,
		&#039;lzh&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;man&#039; =&gt; &#039;application/x-troff-man&#039;,
		&#039;me&#039; =&gt; &#039;application/x-troff-me&#039;,
		&#039;mif&#039; =&gt; &#039;application/vnd.mif&#039;,
		&#039;ms&#039; =&gt; &#039;application/x-troff-ms&#039;,
		&#039;nc&#039; =&gt; &#039;application/x-netcdf&#039;,
		&#039;oda&#039; =&gt; &#039;application/oda&#039;,
		&#039;otf&#039; =&gt; &#039;font/otf&#039;,
		&#039;pdf&#039; =&gt; &#039;application/pdf&#039;,
		&#039;pgn&#039; =&gt; &#039;application/x-chess-pgn&#039;,
		&#039;pot&#039; =&gt; &#039;application/vnd.ms-powerpoint&#039;,
		&#039;pps&#039; =&gt; &#039;application/vnd.ms-powerpoint&#039;,
		&#039;ppt&#039; =&gt; &#039;application/vnd.ms-powerpoint&#039;,
		&#039;pptx&#039; =&gt; &#039;application/vnd.openxmlformats-officedocument.presentationml.presentation&#039;,
		&#039;ppz&#039; =&gt; &#039;application/vnd.ms-powerpoint&#039;,
		&#039;pre&#039; =&gt; &#039;application/x-freelance&#039;,
		&#039;prt&#039; =&gt; &#039;application/pro_eng&#039;,
		&#039;ps&#039; =&gt; &#039;application/postscript&#039;,
		&#039;roff&#039; =&gt; &#039;application/x-troff&#039;,
		&#039;scm&#039; =&gt; &#039;application/x-lotusscreencam&#039;,
		&#039;set&#039; =&gt; &#039;application/set&#039;,
		&#039;sh&#039; =&gt; &#039;application/x-sh&#039;,
		&#039;shar&#039; =&gt; &#039;application/x-shar&#039;,
		&#039;sit&#039; =&gt; &#039;application/x-stuffit&#039;,
		&#039;skd&#039; =&gt; &#039;application/x-koan&#039;,
		&#039;skm&#039; =&gt; &#039;application/x-koan&#039;,
		&#039;skp&#039; =&gt; &#039;application/x-koan&#039;,
		&#039;skt&#039; =&gt; &#039;application/x-koan&#039;,
		&#039;smi&#039; =&gt; &#039;application/smil&#039;,
		&#039;smil&#039; =&gt; &#039;application/smil&#039;,
		&#039;sol&#039; =&gt; &#039;application/solids&#039;,
		&#039;spl&#039; =&gt; &#039;application/x-futuresplash&#039;,
		&#039;src&#039; =&gt; &#039;application/x-wais-source&#039;,
		&#039;step&#039; =&gt; &#039;application/STEP&#039;,
		&#039;stl&#039; =&gt; &#039;application/SLA&#039;,
		&#039;stp&#039; =&gt; &#039;application/STEP&#039;,
		&#039;sv4cpio&#039; =&gt; &#039;application/x-sv4cpio&#039;,
		&#039;sv4crc&#039; =&gt; &#039;application/x-sv4crc&#039;,
		&#039;svg&#039; =&gt; &#039;image/svg+xml&#039;,
		&#039;svgz&#039; =&gt; &#039;image/svg+xml&#039;,
		&#039;swf&#039; =&gt; &#039;application/x-shockwave-flash&#039;,
		&#039;t&#039; =&gt; &#039;application/x-troff&#039;,
		&#039;tar&#039; =&gt; &#039;application/x-tar&#039;,
		&#039;tcl&#039; =&gt; &#039;application/x-tcl&#039;,
		&#039;tex&#039; =&gt; &#039;application/x-tex&#039;,
		&#039;texi&#039; =&gt; &#039;application/x-texinfo&#039;,
		&#039;texinfo&#039; =&gt; &#039;application/x-texinfo&#039;,
		&#039;tr&#039; =&gt; &#039;application/x-troff&#039;,
		&#039;tsp&#039; =&gt; &#039;application/dsptype&#039;,
		&#039;ttc&#039; =&gt; &#039;font/ttf&#039;,
		&#039;ttf&#039; =&gt; &#039;font/ttf&#039;,
		&#039;unv&#039; =&gt; &#039;application/i-deas&#039;,
		&#039;ustar&#039; =&gt; &#039;application/x-ustar&#039;,
		&#039;vcd&#039; =&gt; &#039;application/x-cdlink&#039;,
		&#039;vda&#039; =&gt; &#039;application/vda&#039;,
		&#039;xlc&#039; =&gt; &#039;application/vnd.ms-excel&#039;,
		&#039;xll&#039; =&gt; &#039;application/vnd.ms-excel&#039;,
		&#039;xlm&#039; =&gt; &#039;application/vnd.ms-excel&#039;,
		&#039;xls&#039; =&gt; &#039;application/vnd.ms-excel&#039;,
		&#039;xlsx&#039; =&gt; &#039;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet&#039;,
		&#039;xlw&#039; =&gt; &#039;application/vnd.ms-excel&#039;,
		&#039;zip&#039; =&gt; &#039;application/zip&#039;,
		&#039;aif&#039; =&gt; &#039;audio/x-aiff&#039;,
		&#039;aifc&#039; =&gt; &#039;audio/x-aiff&#039;,
		&#039;aiff&#039; =&gt; &#039;audio/x-aiff&#039;,
		&#039;au&#039; =&gt; &#039;audio/basic&#039;,
		&#039;kar&#039; =&gt; &#039;audio/midi&#039;,
		&#039;mid&#039; =&gt; &#039;audio/midi&#039;,
		&#039;midi&#039; =&gt; &#039;audio/midi&#039;,
		&#039;mp2&#039; =&gt; &#039;audio/mpeg&#039;,
		&#039;mp3&#039; =&gt; &#039;audio/mpeg&#039;,
		&#039;mpga&#039; =&gt; &#039;audio/mpeg&#039;,
		&#039;ogg&#039; =&gt; &#039;audio/ogg&#039;,
		&#039;oga&#039; =&gt; &#039;audio/ogg&#039;,
		&#039;spx&#039; =&gt; &#039;audio/ogg&#039;,
		&#039;ra&#039; =&gt; &#039;audio/x-realaudio&#039;,
		&#039;ram&#039; =&gt; &#039;audio/x-pn-realaudio&#039;,
		&#039;rm&#039; =&gt; &#039;audio/x-pn-realaudio&#039;,
		&#039;rpm&#039; =&gt; &#039;audio/x-pn-realaudio-plugin&#039;,
		&#039;snd&#039; =&gt; &#039;audio/basic&#039;,
		&#039;tsi&#039; =&gt; &#039;audio/TSP-audio&#039;,
		&#039;wav&#039; =&gt; &#039;audio/x-wav&#039;,
		&#039;aac&#039; =&gt; &#039;audio/aac&#039;,
		&#039;asc&#039; =&gt; &#039;text/plain&#039;,
		&#039;c&#039; =&gt; &#039;text/plain&#039;,
		&#039;cc&#039; =&gt; &#039;text/plain&#039;,
		&#039;css&#039; =&gt; &#039;text/css&#039;,
		&#039;etx&#039; =&gt; &#039;text/x-setext&#039;,
		&#039;f&#039; =&gt; &#039;text/plain&#039;,
		&#039;f90&#039; =&gt; &#039;text/plain&#039;,
		&#039;h&#039; =&gt; &#039;text/plain&#039;,
		&#039;hh&#039; =&gt; &#039;text/plain&#039;,
		&#039;htm&#039; =&gt; array(
			(int) 0 =&gt; &#039;text/html&#039;,
			(int) 1 =&gt; &#039;*/*&#039;
		),
		&#039;ics&#039; =&gt; &#039;text/calendar&#039;,
		&#039;m&#039; =&gt; &#039;text/plain&#039;,
		&#039;rtf&#039; =&gt; &#039;text/rtf&#039;,
		&#039;rtx&#039; =&gt; &#039;text/richtext&#039;,
		&#039;sgm&#039; =&gt; &#039;text/sgml&#039;,
		&#039;sgml&#039; =&gt; &#039;text/sgml&#039;,
		&#039;tsv&#039; =&gt; &#039;text/tab-separated-values&#039;,
		&#039;tpl&#039; =&gt; &#039;text/template&#039;,
		&#039;txt&#039; =&gt; &#039;text/plain&#039;,
		&#039;text&#039; =&gt; &#039;text/plain&#039;,
		&#039;avi&#039; =&gt; &#039;video/x-msvideo&#039;,
		&#039;fli&#039; =&gt; &#039;video/x-fli&#039;,
		&#039;mov&#039; =&gt; &#039;video/quicktime&#039;,
		&#039;movie&#039; =&gt; &#039;video/x-sgi-movie&#039;,
		&#039;mpe&#039; =&gt; &#039;video/mpeg&#039;,
		&#039;mpeg&#039; =&gt; &#039;video/mpeg&#039;,
		&#039;mpg&#039; =&gt; &#039;video/mpeg&#039;,
		&#039;qt&#039; =&gt; &#039;video/quicktime&#039;,
		&#039;viv&#039; =&gt; &#039;video/vnd.vivo&#039;,
		&#039;vivo&#039; =&gt; &#039;video/vnd.vivo&#039;,
		&#039;ogv&#039; =&gt; &#039;video/ogg&#039;,
		&#039;webm&#039; =&gt; &#039;video/webm&#039;,
		&#039;mp4&#039; =&gt; &#039;video/mp4&#039;,
		&#039;m4v&#039; =&gt; &#039;video/mp4&#039;,
		&#039;f4v&#039; =&gt; &#039;video/mp4&#039;,
		&#039;f4p&#039; =&gt; &#039;video/mp4&#039;,
		&#039;m4a&#039; =&gt; &#039;audio/mp4&#039;,
		&#039;f4a&#039; =&gt; &#039;audio/mp4&#039;,
		&#039;f4b&#039; =&gt; &#039;audio/mp4&#039;,
		&#039;gif&#039; =&gt; &#039;image/gif&#039;,
		&#039;ief&#039; =&gt; &#039;image/ief&#039;,
		&#039;jpg&#039; =&gt; &#039;image/jpeg&#039;,
		&#039;jpeg&#039; =&gt; &#039;image/jpeg&#039;,
		&#039;jpe&#039; =&gt; &#039;image/jpeg&#039;,
		&#039;pbm&#039; =&gt; &#039;image/x-portable-bitmap&#039;,
		&#039;pgm&#039; =&gt; &#039;image/x-portable-graymap&#039;,
		&#039;png&#039; =&gt; &#039;image/png&#039;,
		&#039;pnm&#039; =&gt; &#039;image/x-portable-anymap&#039;,
		&#039;ppm&#039; =&gt; &#039;image/x-portable-pixmap&#039;,
		&#039;ras&#039; =&gt; &#039;image/cmu-raster&#039;,
		&#039;rgb&#039; =&gt; &#039;image/x-rgb&#039;,
		&#039;tif&#039; =&gt; &#039;image/tiff&#039;,
		&#039;tiff&#039; =&gt; &#039;image/tiff&#039;,
		&#039;xbm&#039; =&gt; &#039;image/x-xbitmap&#039;,
		&#039;xpm&#039; =&gt; &#039;image/x-xpixmap&#039;,
		&#039;xwd&#039; =&gt; &#039;image/x-xwindowdump&#039;,
		&#039;ice&#039; =&gt; &#039;x-conference/x-cooltalk&#039;,
		&#039;iges&#039; =&gt; &#039;model/iges&#039;,
		&#039;igs&#039; =&gt; &#039;model/iges&#039;,
		&#039;mesh&#039; =&gt; &#039;model/mesh&#039;,
		&#039;msh&#039; =&gt; &#039;model/mesh&#039;,
		&#039;silo&#039; =&gt; &#039;model/mesh&#039;,
		&#039;vrml&#039; =&gt; &#039;model/vrml&#039;,
		&#039;wrl&#039; =&gt; &#039;model/vrml&#039;,
		&#039;mime&#039; =&gt; &#039;www/mime&#039;,
		&#039;pdb&#039; =&gt; &#039;chemical/x-pdb&#039;,
		&#039;xyz&#039; =&gt; &#039;chemical/x-pdb&#039;,
		&#039;javascript&#039; =&gt; &#039;application/javascript&#039;,
		&#039;form&#039; =&gt; &#039;application/x-www-form-urlencoded&#039;,
		&#039;file&#039; =&gt; &#039;multipart/form-data&#039;,
		&#039;xhtml&#039; =&gt; array(
			(int) 0 =&gt; &#039;application/xhtml+xml&#039;,
			(int) 1 =&gt; &#039;application/xhtml&#039;,
			(int) 2 =&gt; &#039;text/xhtml&#039;
		),
		&#039;xhtml-mobile&#039; =&gt; &#039;application/vnd.wap.xhtml+xml&#039;,
		&#039;atom&#039; =&gt; &#039;application/atom+xml&#039;,
		&#039;amf&#039; =&gt; &#039;application/x-amf&#039;,
		&#039;wap&#039; =&gt; array(
			(int) 0 =&gt; &#039;text/vnd.wap.wml&#039;,
			(int) 1 =&gt; &#039;text/vnd.wap.wmlscript&#039;,
			(int) 2 =&gt; &#039;image/vnd.wap.wbmp&#039;
		),
		&#039;wml&#039; =&gt; &#039;text/vnd.wap.wml&#039;,
		&#039;wmlscript&#039; =&gt; &#039;text/vnd.wap.wmlscript&#039;,
		&#039;wbmp&#039; =&gt; &#039;image/vnd.wap.wbmp&#039;,
		&#039;woff&#039; =&gt; &#039;application/x-font-woff&#039;,
		&#039;webp&#039; =&gt; &#039;image/webp&#039;,
		&#039;appcache&#039; =&gt; &#039;text/cache-manifest&#039;,
		&#039;manifest&#039; =&gt; &#039;text/cache-manifest&#039;,
		&#039;htc&#039; =&gt; &#039;text/x-component&#039;,
		&#039;rdf&#039; =&gt; &#039;application/xml&#039;,
		&#039;crx&#039; =&gt; &#039;application/x-chrome-extension&#039;,
		&#039;oex&#039; =&gt; &#039;application/x-opera-extension&#039;,
		&#039;xpi&#039; =&gt; &#039;application/x-xpinstall&#039;,
		&#039;safariextz&#039; =&gt; &#039;application/octet-stream&#039;,
		&#039;webapp&#039; =&gt; &#039;application/x-web-app-manifest+json&#039;,
		&#039;vcf&#039; =&gt; &#039;text/x-vcard&#039;,
		&#039;vtt&#039; =&gt; &#039;text/vtt&#039;,
		&#039;mkv&#039; =&gt; &#039;video/x-matroska&#039;,
		&#039;pkpass&#039; =&gt; &#039;application/vnd.apple.pkpass&#039;
	)
	[protected] _protocol =&gt; &#039;HTTP/1.1&#039;
	[protected] _status =&gt; (int) 200
	[protected] _contentType =&gt; &#039;text/html&#039;
	[protected] _headers =&gt; array()
	[protected] _body =&gt; null
	[protected] _file =&gt; null
	[protected] _fileRange =&gt; null
	[protected] _charset =&gt; &#039;UTF-8&#039;
	[protected] _cacheDirectives =&gt; array()
	[protected] _cookies =&gt; array()
}</pre></div></li>
</ul>
<script type="text/javascript">
function traceToggle(event, id) {
	var el = document.getElementById(id);
	el.style.display = (el.style.display === 'block') ? 'none' : 'block';
	event.preventDefault();
	return false;
}
</script>
</body>
		
		<hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Cost, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    <!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <script src="/js/typeaheads.js"></script>
    <script src="/js/bug10.js"></script>
    
  
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    

</html>