<div class = 'full'><!-- <img src="/Cost/img/bg.jpg"> --><div class="container">
    <div class="thumbnail">
    
                    <img class="img-responsive" src="/img/womens-fashion-week-group-shot2-main.jpg" alt="">
                    
                    </div>
 

             
    <?php foreach($data as $info=>$key){ ?>
     <div class="col-sm-4 col-lg-4 col-md-4">
                        
                        <div id ="itemDiv" class="thumbnail" onclick="location.href='/Tops/Clothing/<?php echo $key['Product']['id']; ?>';" style="cursor: pointer;">

                            <img style =" display:block;
                            height:200px;
                            width:auto;" src=<?php echo '"/files/Products4/'.$key['product_images']['file_name'].'"';?>  alt="..." class="img-thumbnail">
                             <h4 class="pull-right"><div class="label label-info"><?php echo $key['selling_prices']['price'];?></div></h4>
                            <div class="caption">
                               
                                <a href="/Tops/Clothing/<?php echo $key['Product']['id']; ?> "  data-toggle="tooltip" data-placement="bottom" title="<?php echo 

                                str_replace('COST', '', $key['Product']['name']);?>"><h3 class="text-capitalize" style="white-space: nowrap; word-wrap: break-word;"><?php echo 

                                substr(str_replace('COST', '', $key['Product']['name']),0,20).'...';?></h3></a>
                                <!-- <a class="" data-toggle="collapse" href="#collapseExample<?php echo $key['Product']['id']; ?>" aria-expanded="false" aria-controls="collapseExample">
                                Read Description:
                              </a>
                                <p class="collapse" id="collapseExample<?php echo $key['Product']['id']; ?>"><?php echo $key['Product']['description'];?></p>
 -->
                            </div>
<!--                             <div class="ratings">
                            <button type="button" id ="buy" data-product="<?php echo $key['Product']['id']; ?>" class="btn btn-primary btn-sm">Buy</button>
                            <button type="button" class="btn btn-primary btn-sm">Favorite</button>
                                <p class="pull-right">15 Favorite</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div> -->
                        </div>
       </div>

  <?php }?>

  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 <script type="text/javascript">

$(document).ready(function(){

$('[id="itemDiv"]').hover(function() {
        $(this).css(
            "box-shadow", "5px 5px 5px #888"
        );
    }, function() {
        $(this).css(
            "box-shadow", "0px 0px 0px #888"
        );
    });
  $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
// $('body').on("click", "button[id=buy]", function (){
    


//       var url = '/Tops/addCart/' + $(this).attr("data-product"); // the script where you handle the form input.

//       $.ajax({
//              type: "POST",
//              url: url,
             
//              success: function(data)
//              {
//                 console.log(data);
//                $( "#checkoutnumber" ).empty();
//                 $( "#checkoutnumber" ).append( data );
//                  // show response from the php script.
             

//              }

//            });

//     });

  });
</script>
