<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Thank you for Patronizing COST</h2>
        <p><br>Behind everything we do. We want to make style decisions easier for you by keeping you up to date with the hottest trends and latest in new brands and designers</p>
        <p>The future of shopping is here!</p>


      </div>

    </div> <!-- /container -->

